/Area.class
/HighArea.class
/IArea.class
/IMapCreator.class
/IRover.class
/LA5Main.class
/LowArea.class
/MapCreator.class
/Rover.class
/Expression.class
/Operation.class
/IOperation.class
/IExpression.class
/MapCreatorFromTxt.class
/EnergyAnalyzer.class
/ElevationAnalyzer.class
/RadiationAnalyzer.class
